@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@inject SignInManager<IdentityUser> signInManager;
@inject AmazonClone.DAL.AmazonContext.AmazonContext _context;
@inject AmazonClone.BL.classes.CategoryRepo categoryRepo;




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmazonClone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
     <link rel="stylesheet" href="~/css/site.css" />
     @await RenderSectionAsync("csslinks", required: false)


</head>
<body>
    
  <div class="Nav" style="position:fixed; top:0;left:auto;width:100%;">
      <div >
          <div  class="Navbar">
         <h3 id="Logo"><a href="/" class="text-light">Amazon</a></h3>
         <div class="SearchMain" id="SearchMainID">
                
                  <select name="ProductTypeFilter"  id="Searchselect">
                        @{
                                                        <option value="All">All</option>
                            foreach (var item in categoryRepo.GetAllCategory())
                            {
                                                           <option value="@item.Id">@item.Name</option>
                            
                            
                            
                            }
                      }
                           @* <option value="sport">sport</option>
                            <option value="books">books</option>
                            <option value="computers">computers</option>
                            <option value="Home">Home</option>*@
                  </select>
                 <input id="sreachNavBox" type="search" placeholder="Search" aria-label="Search">
                <div id="SearchIcon">
                 <i class="fa-solid fa-magnifying-glass"></i>
                 </div>
          </div>
            <div class="Cart_container">
              
                 <div class="username">@{if (signInManager.IsSignedIn(User))
                                            { 
                                                                          <div class="d-flex align-items-center">
                                                                            <h3 class="UserName"> hi,@User.Identity.Name</h3>
                                                                            <div >
                                                                                <a class="btn btn-danger" asp-action="Logout" asp-controller="Account">Logout</a>
                                                                            </div>
                                                                          </div>
                                            }
                                        else{
                                                                        <div>
                                                                                <a asp-action="Login" asp-controller="Account" class="btn btn-danger">Login</a>
                                                                        </div>
                                             
                                           }
                                       }
                 </div>
                <div class="Cart">
                <a asp-controller="Cart" asp-action="Index" style="color:white;">
                     <span class="CartCount">0</span>
                  
                </a>
                  
                </div>


            </div>
                  
                   
             
            </div>
        
      </div>
     
   
  </div>

       
      


   
    <div class="container">
     <nav aria-label="breadcrumb " style="margin-top:3px">
          <ol class="breadcrumb">
            @RenderSection("breadcramb",required:false)
          </ol>
     </nav>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AmazonClone - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/addProduct.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
